
* {
    margin: 0;
    padding; 0;

}

ul {
    padding: 0;
}

@charset utf-8;


/* бордербокс что бы учитывалась обводка в размеры для всех браузеров */
* {
    -webkit- box-sizing: border-box;
    -moz- box-sizing: border-box;
    -ms- box-sizing:border-box;
    box-sizing: border-box;
    font-family: open sans;
}

/* плавная анимация для ссылок и кнопок при наведении*/

a, a:hover, button, button:hover, anime {
    -moz- transition: all 200ms linear;
    -ms- transition: all 200ms linear;
    -o- transition: all 200ms linear;
    -webkit- transition: all 200ms linear;
    cursor: pointer;
}


/* флэкс фрэймворк: набор классов  */

.main_flex {
    display:flex;
    display:
    -webkit-flex;
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
}
.main_flex__nowrap {
    display:flex;display:-webkit-flex;-webkit-flex-flow:row nowrap;flex-flow:row nowrap;
}
.flex__jcontent_between{
    justify-content:space-between;
    -webkit-justify-content:space-between;
}
.flex__jcontent_start{
    justify-content:flex-start;
    -webkit-justify-content:flex-start;
}
.flex__jcontent_end{
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
}
.flex__jcontent_center{
    justify-content:center;
    -webkit-justify-content:center;
}
.flex__jcontent_around{
    justify-content:space-around;
    -webkit-justify-content:space-around;
}
.flex__auto{
    flex:auto;
    -webkit-flex:auto;
    -ms-flex:auto;
}
.flex__align-items_start{
    align-items:flex-start;
    -webkit-align-items:flex-start;
}
.flex__align-items_end{
    align-items:flex-end;
    -webkit-align-items:flex-end;
}
.flex__align-items_baseline{
    align-items:baseline;
    -webkit-align-items:baseline;
}
.flex__align-items_stretch{
    align-items:stretch;
    -webkit-align-items:stretch;
}
.flex__align-items_center{
    align-items:center;
    -webkit-align-items:center;
}
.flex__align-content_flex-start{
    align-content:flex-start;
    -webkit-align-content:flex-start;
}
.flex__align-content_flex-end{
    align-content:flex-end;
    -webkit-align-content:flex-end;
}
.flex__align-content_space-between{
    align-content:space-between;
    -webkit-align-content:space-between;
}
.flex__align-content_center{
    align-content:center;-webkit-align-content:center;
}
.flex__align-content_space-around{
    align-content:space-around;
    -webkit-align-content:space-around;
}
.flex__align-content_stretch{
    align-content:stretch;
    -webkit-align-content:stretch;
}
.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1}
.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2}
.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3}
.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4}.w5{width:5%;max-width:5%}.w10{width:10%;max-width:10%}.w15{width:15%;max-width:15%}.w20{width:20%;max-width:20%}.w25{width:25%;max-width:25%}.w30{width:30%;max-width:30%}.w35{width:35%;max-width:35%}.w40{width:40%;max-width:40%}.w45{width:45%;max-width:45%}.w50{width:50%;max-width:50%}.w55{width:55%;max-width:55%}.w60{width:30%;max-width:60%}.w65{width:65%;max-width:65%}.w70{width:70%;max-width:70%}.w75{width:75%;max-width:75%}.w80{width:80%;max-width:80%}.w85{width:85%;max-width:85%}.w90{width:90%;max-width:90%}.w95{width:95%;max-width:95%}.w100{width:100%;max-width:100%}
.main_flex__nowrap_reverse {display:flex;display:-webkit-flex;-webkit-flex-flow:row-reverse nowrap;flex-flow:row-reverse nowrap}

body {
  color: #9d9fa5;
}

.container {
  width: 71.43vw;
  margin: 0 auto;
}
header {
  height: 7.57vh;
  background-color: #262933;
  display: flex;
  position: fixed;
  width: 100%;
  opacity: 0.97;
  z-index: 100;
}
header svg {
  display: none;
}
.logo {
  font-size: 2.2vh;
  line-height: 3.1vh;
  font-family: open sans;
  font-weight: 600;
  color: #fff;
}
nav {
  list-style: none;
  font-size: 1.2vh;

}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #9d9fa5;
  margin-left: 2.71vh;

}
nav a:hover {
  color: #fff;
}
.soc_bar svg {
  height: 3.57vh;
  fill: #fff;
  margin-left: 2.21vh;
  display: flex;
}

.soc_bar a:nth-last-of-type(3n) {
  margin-left: 3.57vh;
}

.main_screen {
  background-image: url(../img/page/697539.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.main_screen h1 {
  padding-top: 12.8vh;
  font-size: 2.14vh;
  line-height: 3.07vh;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

.main_screen h1 span {
  font-weight: 700;
}

.box {
  height: 21.86vh;
  margin-top: 17.78vh;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
}

.centerItem {
  border: 0.5vh solid #fff;
  background: #292c36;
  width: 71.44vh;
  position: absolute;
  z-index: 20;
  margin-top: 4.86vh;
  margin-left: -35.72vh;
  left: 50%;
  box-shadow: 2px 2px 8px 1px black;
}
.description {
    padding: 3.78vh;
    width: 34.29vh;
}

.description p {
  font-size: 0.93vh;
  line-height: 1.71vh;
}
.description h2 {
  font-size: 2vh;
  line-height: 3.07vh;
}
.description a {
  font-size: 1.14vh;
  line-height: 3.07vh;
  color: #43b5fd;
  text-decoration: none;
}

.image {
  height: auto;
}

.centerItem img {
  width: 34.29vh;
  height: ;
  width: ;
}

/* Три свойства в ряд */

.itemList .item {
  margin-top: 52vh;
}

.item {
  width: 18.07vw;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.itemList svg {
  height: 3.21vh;
  fill: #fff;
  margin-bottom: 2.07vh;

}
.itemList h2 {
  font-size: 1.43vh;
  line-height: 1.43vh;
  font-weight: 600;
  margin-bottom: 2.36vh;
  text-align: center;
}

.itemList p {
  font-size: 1.2vh;
  line-height: 1.93vh;
  font-weight: 400;
  text-align: center;
}

/* Дальше следущий блок с работами */

/* Заголовок */

.name {
  text-align:center;
  margin-bottom: 4.07vh;
}

.name h2 {
  font-size: 1.71vh;
  line-height: 2.42vh;
  font-weight: 600;
  margin-top: 4.14vw;
}
.name h3 {
  font-size: 1.14vh;
  line-height: 2.42vh;
  font-weight: 400;
  margin-top: 1.64vh;
}

/* сами работы */

.min_height {
  min-height: 100vh;
}

.work_item {
  margin-bottom: 2.5vh;
  box-shadow: 2px 2px 8px 1px black;
}

.work_item img {
  width: 21.71vw;
  height: 100%;
}

/* отзывы */

.testimonials {

}

.testimonials .client img {
  height: 7.14vw;
  border-radius: 50vw;
  margin-top: 0.43vw;
}

.client {
  width: 18.57vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.testimonials .client p {
  text-align: center;
  font-size: 1.43vw;
  line-height: 1.86vw;
  font-weight: 400;
  margin: 2.11vh 0;
  color: #43b5fd;
}

.testimonials .client h5 {
  font-size: 1vw;
  margin-bottom: 0.5vw;
}

.testimonials .client a {
  font-size: 0.7vw;
  text-decoration: none;
  display: block;
  color: #9d9fa5;
  margin-bottom: 5.78vw;
}


footer {
  height: 7.71vw;
  background-color: #262933;
  font-size: 0.9vw;

}

/* адаптация под мобильный скрин */

@media
    only screen and ( min-device-width: 320px ) and  ( max-device-width: 480px ),
    only screen and ( max-width: 320px ),
    only screen and (min-device-width: 768px ) and (max-device-width: 1024px )

  {
    .container {
  width: 73vw;
  margin: 0.2vw 0;
}
      header {
        height: 20vw;

      }

      header svg {
        display: block;

        height: 8vw;
        fill: #fff;
        margin: 3.5vw;
      }
      header .soc_bar {
        display: none;
      }
      .navigation {
        display: none;
      }
      .logo p {
        font-size: 4.5vw;

      }
      #head {
        flex-direction: row;
      }


      .main_screen h1 {
    padding-top: 25vw;
    font-size: 4vw;
    line-height: 5.5vw;
  }

.centerItem {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  height: auto;
  margin-top: 4.86vh;
  margin-left: 0;
  width: 100vw;
  border: 0px;
}
.description h2{
  font-size: 4vw;
}
.description p {
  font-size: 3.5vw;
  line-height: 4vw;
}
.description a {
  font-size: 3.5vw;
  line-height: 4vw;
  margin:
}


  }
